.job-progress {
  margin: 6px;
  /* width: 100%; */
  /* max-width: 600px; */
  padding: 12px;
  /* background-color: #222; */
  border-radius: 4px;
  box-shadow: var(--shadow-elev-1, 0 2px 10px rgba(40, 39, 38, 0.1));

}
.job-progress pre {
  max-height: 200px;
  overflow-y: scroll;
  background-color: #111;
  color: springgreen;
  padding: 6px;
}
