#root {
  /* max-width: 1280px; */
  max-width: 100%;
  margin: 0;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.page {
  padding-top: 0;
  height: 100vh;
}

.docs-banner {
  display: block;
  padding: 10px;
  width: 100%;
  background-color: salmon;
  color: black;
  text-decoration: underline;
}

.tooltip-area {
  z-index: 300;
}
