table.datatable {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.datatable th, .datatable td {
  border: 1px solid #DAD8CE;
  padding: 8px;
  text-align: left;
  word-wrap: break-word; /* Break long words */
  overflow-wrap: break-word; /* Alternative to word-wrap */
}

.datatable th {
  background-color: #F2F0E5;
}

.datatable .tag-active {
  background-color: #fff;
  border: 1px solid gray;
}
.datatable .tag-inactive {
  background-color: #eee;
  filter: grayscale(100%);
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  .datatable th {
    background-color: #100F0F;
  }

  .datatable .tag-active {
    background-color: #1C1B1A;
    border: 1px solid #6F6E69;
  }
  .datatable .tag-inactive {
    background-color: #343331;
  }
}

[data-theme="dark"] .datatable th {
  background-color: #100F0F;
}

[data-theme="dark"] .datatable .tag-active {
  background-color: #1C1B1A;
  border: 1px solid #6F6E69;
}
[data-theme="dark"] .datatable .tag-inactive {
  background-color: #343331;
}